<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Settings</title>
        <title lang="de-DE">Einstellungen</title>

        <input-field type="bool">
            <name>additionalMailAddressesActive</name>
            <label>Activate additional e-mail addresses</label>
            <label lang="de-DE">zusätzliche E-Mail-Adressen aktivieren</label>
            <helpText>
                Here you can activate the plugin globally.
            </helpText>
            <helpText lang="de-DE">
                Hier können sie das Plugin global aktivieren.
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>

