
.additional-emails-form-row {
  margin-bottom: 20px;

  .form-group {
    margin-bottom: 5px;
  }

  .additional-emails-checkboxes {
    display: flex;
    align-items: center;
    gap: 10px;

  }
}
